<h1>Editing To Do</h1>

<%= render 'form', to_do: @to_do %>

<%= link_to 'Show', @to_do , class: "btn btn-dark"%>
<%= link_to 'Delete', @to_do, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
<%= link_to 'Back', to_dos_path , class: "btn btn-outline-dark"%>

